/* Media is downloaded from: 
https://github.com/xcc3641/SeeWeather/tree/master/app/src/main/res/mipmap-xhdpi */

body {
  font-family: "Lucida Sans Unicode";
}

.main {
  height: 98vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas: "user back";
}

.menu {
  grid-template-columns: 2fr 1fr;
}

.user {
  grid-area: user;
}

.top {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr auto auto 1fr;
  grid-template-areas:
    "dayWeek . . setting"
    "datum . sign ."
    "location . sign ."
    ". . degree ."
    ". . degree ."
    ". . desc .";
  z-index: 1;
  height: 100%;
  width: 100%;
}

.backGround {
  background-image: url("background/bgNight.jpg");
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.dayWeek {
  grid-area: dayWeek;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 6rem;
  color: azure;
  font-weight: bolder;
}

.datum {
  grid-area: datum;
  color: azure;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.insideDatum {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "day month";
}

.day {
  grid-area: day;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.month {
  grid-area: month;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.location {
  grid-area: location;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: lightgray;
  overflow: hidden;
}

.setting {
  grid-area: setting;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(51, 37, 8);
  font-size: 3rem;
}

.setting > i {
  cursor: pointer;
}

.sign {
  grid-area: sign;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 17.5%;
}

.icon {
  height: 100%;
  width: auto;
}

.degree {
  grid-area: degree;
  display: grid;
  grid-template-rows: 2fr 1fr;
  color: azure;
  font-size: 6rem;
  font-weight: bolder;
  padding-right: 25%;
}

.temp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.feels {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1.5rem;
}

.desc {
  grid-area: desc;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 25%;
  color: azure;
  font-size: 3rem;
}

.back {
  grid-area: back;
  display: none;
  background-color: rgba(32, 31, 31, 0.7);
}

.backShow {
  display: grid;
  transition: 2s;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "searchText"
    "searchBar"
    "github";
}

.searchText {
  grid-area: searchText;
  color: azure;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 5%;
  padding-top: 10%;
}

.searchBar {
  grid-area: searchBar;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  max-height: 20px;
}

.searchBar > input {
  width: 65%;
  border-radius: 0.75em;
  line-height: 2em;
  height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 1em;
  background-color: rgb(158, 161, 161);
  opacity: 0.5;
}

.searchBar > button {
  border-radius: 50%;
  border: none;
  height: 4em;
  width: 4em;
  background-color: gray;
  cursor: pointer;
  color: azure;
}

.github {
  grid-area: github;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: bisque;
  font-size: 1.5rem;
  padding-bottom: 7%;
}

.github > a {
  text-decoration: none;
  font-weight: bold;
  color: chartreuse;
}

@media only screen and (max-width: 550px) {
  .main {
    max-height: 98vh;
  }

  .top {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas:
      "setting"
      "sign"
      "desc"
      "degree"
      "dayWeek"
      "location";
  }

  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "back"
      "user";
  }

  .datum {
    display: none;
  }

  .setting {
    justify-content: flex-end;
    padding-right: 15%;
  }

  .sign {
    justify-content: center;
    padding-right: 0;
  }

  .desc {
    font-size: 2rem;
    justify-content: center;
    padding-right: 0;
  }

  .degree {
    font-size: 3rem;
    padding-right: 0;
  }

  .temp {
    justify-content: center;
  }

  .feels {
    justify-content: center;
  }

  .dayWeek {
    font-size: 3rem;
  }

  .location {
    font-size: 1rem;
  }
  .searchText {
    padding-top: 3%;
  }

  .github {
    padding-bottom: 0;
  }
}
