/* Media is downloaded from: 
https://github.com/xcc3641/SeeWeather/tree/master/app/src/main/res/mipmap-xhdpi */

body {
  font-family: "Lucida Sans Unicode";
}

.main {
  height: 98vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas: "user back";
}

.user {
  grid-area: user;
}

.top {
  display: grid;
  grid-template-columns: 3fr auto 4fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "dayWeek . . setting"
    "datum . . ."
    "location . sign ."
    ". . sign ."
    ". . degree ."
    ". . desc .";
  z-index: 1;
  height: 100%;
  width: 100%;
}

.backGround {
  background-image: url("background/night.png");
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.dayWeek {
  grid-area: dayWeek;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 5rem;
  color: azure;
  font-weight: bolder;
}

.datum {
  grid-area: datum;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "day month";
  color: azure;
  font-size: 3rem;
}

.day {
  grid-area: day;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.month {
  grid-area: month;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.location {
  grid-area: location;
}

.setting {
  grid-area: setting;
}

.sign {
  grid-area: sign;
}

.degree {
  grid-area: degree;
}

.desc {
  grid-area: desc;
}

.back {
  background-color: sienna;
  grid-area: back;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0.15fr, 0.25fr) minmax(0.15fr, 0.25fr) auto minmax(
      0.15fr,
      0.25fr
    );
  grid-template-areas:
    "searchText"
    "searchBar"
    "."
    "github";
}

.searchText {
  background-color: blueviolet;
  grid-area: searchText;
}

.searchBar {
  background-color: yellow;
  grid-area: searchBar;
}

.github {
  background-color: tomato;
  grid-area: github;
}
